<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-newburger="{{devour}}">
        {{#if devour}}BACK TO LIST{{else}}DEVOUR!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>